[user]
        name  = Serhii Marchuk
        email = marchuk1s1p@gmail.com

[init]
        defaultBranch = main

[alias]
        br      = branch
        brd     = branch -D
        ck      = checkout
        ckm     = checkout main
        ckb     = checkout -b
        cp      = cherry-pick
        pom     = pull origin main
        rs      = reset HEAD~
