[user]
        name = Serhii Marchuk
        email = marchuk1s1p@gmail.com

[init]
	    defaultBranch = main

[alias]
        br = branch
        ck = checkout
        cp = cherry-pick
        pom = pull origin main
